version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    versioning-strategy: increase
    commit-message:
      prefix: 'chore'
    schedule:
      interval: 'weekly'
    allow:
      - dependency-type: 'production'
    ignore:
      - dependency-name: '*'
        update-types: ['version-update:semver-major']
